.page-content {
  width: 60%;
  padding: 20px;
}

.life-bar {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  height: 75px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.video-capture {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  height: 700px;
}

.remaining-time {
  font-size: 20px;
  font-weight: bold;
}

.bpm {
  font-size: 20px;
  font-weight: bold;
}

.start-stop {
  font-size: 20px;
}

.start-stop-icons {
  font-size: 25px;
}

#record-icon {
  color: red;
}

output-canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
